
  body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
  }
  nav {
    background: linear-gradient(135deg, #56CCF2, #2F80ED); 
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  nav a {
    margin-left: 10px;
    color: #ECCC13;
    text-decoration: none;
    font-size: 18px;
  }
  nav a:hover {
    color: #efd646;
  }
  .cart{
    color: white;
    padding: 5px;
    border-right:solid white;
    height: 20px;
  }

  .nav-left{
    display: flex;
    gap: 8px;
  }
  .nav-right{
    display: flex;
    gap: 8px;
  }
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 10px;
    padding: 10px;
  }

  .image-section {
    height: 200px;
    background-color: #f1f1f1;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-section img {
    max-height: 100%;
    max-width: 100%;
  }

  .info-section {
    margin-top: 10px;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
  }

  .description {
    margin-top: 5px;
    color: #666;
  }

  .amount {
    font-size: 16px;
    margin-top: 10px;
    color: #00aaff;
  }

  .cards-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 6%;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .pagination button {
    margin: 5px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f1f1f1;
  }